Options -MultiViews
RewriteEngine On


RewriteRule Admin-Panel-Company-Info admin/pages/admin-panel-company-info.php
RewriteRule Admin-Panel-Edit-Page admin/pages/admin-panel-edit-page.php
RewriteRule Admin-Panel-Make-Website admin/pages/admin-panel-make-website.php
RewriteRule Admin-Panel-Set-Menu admin/pages/admin-panel-set-menu.php
RewriteRule Admin-Panel-Websites admin/pages/admin-panel-websites.php
RewriteRule Admin-Panel-Edit-Main-Page admin/pages/admin-panel-edit-main-page.php
RewriteRule Admin-Panel admin/pages/admin-panel.php

RewriteRule Login-Page content/pages/login-page.php
RewriteRule Contact content/pages/contact-page.php


RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L] 

# redirect "/section.php?id=xxx" to "/section/xxx"
RewriteCond %{THE_REQUEST} \s/page\.php\?pageID=([0-9]+)\s [NC]
RewriteRule ^ /blog/%1? [R=301,L]
# internally rewrite "/section/xxx" to "/section.php?id=xxx"
RewriteRule ^blog/([0-9]+)$ content/pages/page.php?pageID=$1 [L]

ErrorDocument 404 /404.php

