body {
  background-color: #1e1e1e;
  color: #e8e8e8;
  font-size: 20px;
  font-family: "Gayathri", sans-serif;
  padding-top: 21px;
}

a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 217, 0);
  text-decoration: none;
}

.navbar-items {
  padding: 5px;
}

.h1-header-div {
  background-color: gold;
  height: 233px;
}
.h1-header-text {
  padding-top: 89px;
}
