html, body {
  overflow-x: hidden;
}

body {
  background-color: #e8e8e8;
  color: #1e1e1e;
  font-size: 20px;
  font-family: "Gayathri", sans-serif;
  position: relative
}

a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 217, 0);
  text-decoration: none;
}

img:hover{
opacity: 0.8;
}

.row-height-margin{
    

}

.row-height{
    
}

.navbar-items {
  padding-right: 5px;
}

.h1-header-text {
  
}

h2{
    color: gold;
    margin-top: 21px;
}