body {
  background-color: #e8e8e8;
  color: #1e1e1e;
  font-size: 20px;
  font-family: "Gayathri", sans-serif;
}

a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 217, 0);
  text-decoration: none;
}

img:hover{
opacity: 0.8;
}

.row-height-margin{
    height: 233px;
    margin-top: 5%;
    padding: 3%;
}

.row-height{
    height: 233px;
}

.navbar-items {
  padding: 5px;
}

.h1-header-div {
  
}
.h1-header-text {
  padding-top: 34px;
}
